# Globbed excludes
*.pyc
*~
*.pid
__ditch/
__*

# Exclude project output dirs
/build/
/build-*/
/debian/changelog
/dist/
/dist-*/
/lumina.egg-info/
/venv*/
/*.buildinfo

# Exclude contrib
/contrib/*
!/contrib/docker/
!/contrib/deploy/
!/contrib/ola/
!/contrib/rpi/
!/contrib/telldus/

# Misc development excludes
/tmp/
/.vscode/
/access-lumina.log*
/tags

# Coverage ignores
/coverage*
.coverage