# Globbed excludes
*.pyc
*~
*.pid
__ditch/

# Exclude project output dirs
/build/
/build-*/
/debian/changelog
/dist/
/dist-*/
/lumina.egg-info/
/venv*/

# Exclude contrib
/contrib/*
!/contrib/broot/
!/contrib/deploy/
!/contrib/ola/
!/contrib/rpi/
!/contrib/telldus/

# Misc development excludes
/tmp/
/.vscode/
/access-lumina.log*
/tags
