*.pyc
*~
*.deb
*.changes
*.tar.gz
www/*.old
build/
debian/tmp/
debian/lumina-hw50/
debian/lumina-lys/
debian/lumina/
debian/python-lumina/
debian/files
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
lumina.egg-info/
