<h2><i class="fa fa-cubes" aria-hidden="true"></i> Nodes <small><span class="label label-default">{{nodes.length}}</span></small>
  <small ng-bind-html="status_html(server.node_status)" class="right"></small>
</h2>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name (Plugin)</th>
    <th>Host (ID)</th>
    <th># commands / events</th>
    <th>Status</th>
    <th>Link</th>
    <th>Last activity</th>
  </tr>
  <tr ng-repeat="e in nodes">
    <td>{{e.seqence}}</td>
    <td>{{e.name}} ({{e.module}})</td>
    <td>{{e.hostname}} ({{e.hostid}})</td>
    <td>{{e.commands.length}} / {{e.events.length}}</td>
    <td ng-bind-html="status_html(e.status, e.status_why)"></td>
    <td ng-bind-html="status_html(e.link, e.link_why)"></td>
    <td>{{e.lastactivity | date:'short'}}</td>
  </tr>
</table>


<h2><i class="fa fa-server" aria-hidden="true"></i> Hosts <small><span class="label label-default">{{hostslength}}</span></small></h2>
<table class="table table-striped table-hover">
  <tr>
    <th>Host (ID)</th>
    <th># Plugins</th>
    <th># Config</th>
    <th>Status</th>
    <th>Started</th>
  </tr>
  <tr ng-repeat="e in hosts" ng-click="on_select_host(e.hostid)" ng-class="{active: e==selected_host}">
    <td class="{{e.hostclass}}">{{e.hostname}} ({{e.hostid}})</td>
    <td>{{e.plugins.length}}</td>
    <td>{{e.config.length}}</td>
    <td ng-bind-html="status_html(e.status, e.status_why)"></td>
    <td>{{e.starttime | date:'short'}}</td>
  </tr>
</table>

<div ng-if="selected_host">

  <h2 ng-click="toggle_show_plugins()"><i class="fa {{plugins_icon}}"></i> Plugins
    <small>&nbsp; on {{selected_host.hostname}} ({{selected_host.hostid}})
      &nbsp;<span class="label label-default">{{plugins.length}}</span></small></h2>
  <div ng-if="show_plugins">
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>Name (Plugin)</th>
        <th>Status</th>
        <th>Documentation</th>
      </tr>
      <tr ng-repeat="e in plugins">
        <td>{{e.sequence}}</td>
        <td>{{e.name}} ({{e.module}})</td>
        <td ng-bind-html="status_html(e.status, e.status_why)"></td>
        <td>{{e.doc}}</td>
      </tr>
    </table>
  </div>

  <h2 ng-click="toggle_show_configs()"><i class="fa {{configs_icon}}"></i> Config
    <small>&nbsp; on {{selected_host.hostname}} ({{selected_host.hostid}})
      &nbsp;<span class="label label-default">{{configs.length}}</span></small></h2>
  <div ng-if="show_configs">
    <table class="table table-striped">
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Default</th>
        <th>Type</th>
        <th>Help</th>
      </tr>
      <tr ng-repeat="e in configs">
        <td>{{e.key}}</td>
        <td>{{e.value}}</td>
        <td>{{e.default}}</td>
        <td>{{e.type}}</td>
        <td>{{e.help}}</td>
      </tr>
    </table>
  </div>

</div>
