<h2>Channels</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>Channels</th>
    <th>Level</th>
    <th>Distance</th>
    <th colspan="7">PEQ</th>
  </tr>
  <tr ng-repeat="channel in sequence">
    <td>{{channel}}</td>
    <td>{{chdata[channel].level | number:1}}</td>
    <td>{{chdata[channel].distance | number:2}}</td>
    <td ng-repeat="peq in chdata[channel].peq" class="{{peq.cls}}">
      {{peq.freq}}<br><b>{{peq.gain | number:1}}</b><br>{{peq.q | number:2}}
    </td>
  </tr>
</table>
