body { padding-top: 70px; }

html body .table-borderless td,
html body .table-borderless th {
    border-top: 0;
}
.table-no-width {
    width: 0%;
}
.green {
    color: green;
}
.red {
    color: red;
}
.yellow {
    color: gold;
}
.off {
    color: grey;
}
.nobold {
    font-weight: normal;
}
.serverhost {
    font-weight: bold;
    color: #6C3483;
}
.table>tbody>tr.active>td {
  background: #d9d9ff;
}
.right {
    float: right;
}