body { padding-top: 70px; }

html body .table-borderless td,
html body .table-borderless th {
    border-top: 0;
}
.table-no-width {
    width: 0%;
}
.green {
    color: green;
}
.red {
    color: red;
}
.yellow {
    color: gold;
}
.off {
    color: grey;
}
