Source: lumina
Maintainer: Svein Seldal <sveinse@seldal.com>
Section: python
Priority: optional
X-Python-Version: >= 2.7
Build-Depends: python (>= 2.7.3),
               debhelper (>= 7),
               dh-python,
               python-setuptools
Standards-Version: 3.9.1

Package: lumina
Architecture: all
Depends: ${misc:Depends},
         python-lumina (= ${binary:Version})
Description: Home cinema automation controller
 This package provides the home cinema automation controller.

Package: python-lumina
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Recommends: telldus-core,
            ola-python
Description: Python library for home cinema automation controller
 This package provides the python libraries for the home cinema
 automation controller
