Source: lumina
Maintainer: Svein Seldal <sveinse@seldal.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3),
               debhelper (>= 7),
               python-setuptools,
               dh-python
Standards-Version: 3.9.1

Package: python-lumina
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-twisted-core,
Description: Python library for home cinema automation controller

Package: lumina-lys
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-lumina,
         telldus-core,
         python-twisted-web
Conflicts: lumina-hw50
Description: Home cinema automation controller lys daemon

Package: lumina-hw50
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-lumina
Conflicts: lumina-lys
Description: Home cinema automation controller hw50 daemon
