[Unit]
Description=Home Theater Controller
After=network.target

[Service]
ExecStart=/usr/bin/lumina server --syslog --config /etc/lumina/lumina.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
