#!/usr/bin/make -f

#export DH_VERBOSE:=1

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_installinit:
	cp conf/lumina.conf debian/lumina.default
	dh_installinit --name=lumina

override_dh_clean:
	dh_clean
	rm -rf *.egg-info build
