#!/usr/bin/make -f

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_install:
	dh $@ --with python2 --buildsystem=python_distutils
	rm -rf debian/lumina/usr/lib/python*/*-packages/*.egg-info

override_dh_clean:
	dh_clean
	rm -rf *.egg-info build
